<<<<<<< Updated upstream
=======

.page_title {
    justify-self: center;
    background-color: rgb(197, 175, 226);
    color: white;
}
.movie-poster img {
    margin: 10px;
    max-height: 300px;
    box-shadow: rgba(10, 9, 9, 0.24) 0px 5px 10px; 
}
.movie-info {
    margin: 20px;
}

.movie-description {
    padding: 30px;

}

.button {

    margin: 20px;
  
}

button:hover {
    box-shadow: rgba(10, 9, 9, 0.24) 0px 5px 10px;
}

.label {
    font-weight: bolder;
}

.movie-info {
    font-size: larger;
}

.movie-description {
    font-size: large;
}

>>>>>>> Stashed changes
