<<<<<<< Updated upstream
=======


.login_container {
    background-color: rgb(241, 240, 240);
    font-family: 'Montserrat', sans-serif;
}

.button {
    padding: 10px;
    margin: 10px;
    background-color: gray;
    color: rgb(112, 106, 106);
    margin: 20px;
}

button:hover {
    box-shadow: rgba(10, 9, 9, 0.24) 0px 5px 10px;
}
>>>>>>> Stashed changes
