.main-view {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;

}

.image {
    margin-top: 50px;
    width: 174px;
}

.page_title {
    text-align: center;
    font-weight: 500;
color: 000000;

}

p.title {
    font-size: medium;
}

.button {
    justify-content: center;
    background-color: white;
}